.navigator:focus, .navigator:hover {
 color:#2196F3;
}
li {
list-style-type: none;
};
.fon-jpg {
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
        background: #2F303A;
};

 